.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: center;
    bottom: 80px;
    right: 80px;
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
  }
  